@import './mixins';

h1 {
    font-size: 48px;
    font-weight: bold;
    color: $black-color;

    @include respond-to('tablet'){
        font-size: 32px;
    }
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: $black-color;

    @include respond-to('tablet'){
        font-size: 24px;
    }
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: $black-color;

    @include respond-to('tablet'){
        font-size: 18px;
    }
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: $black-color;

    @include respond-to('tablet'){
        font-size: 16px;
    }
}

h5 {
    font-size: 18px;
    font-weight: bold;
    color: $black-color;

    @include respond-to('tablet'){
        font-size: 14px;
    }
}

h6 {
    font-size: 16px;
    font-weight: bold;
    color: $black-color;

    @include respond-to('tablet'){
        font-size: 10px;
    }
}

p {
    font-size: 18px;
    color: $black-color;
    margin-top: 0;
    margin-bottom: 0;

    @include respond-to('tablet'){
        font-size: 14px;
    }
}

a {
    font-size: 16px;
    font-weight: normal;
    color: $black-color;

    @include respond-to('tablet'){
        font-size: 14px;
    }
}

label {
    color: $black-color;
    font-size: 14px;

    @include respond-to('tablet') {
        font-size: 12px;
    }
}

// custom styles
.big-bold-text-size {
    font-size: 64px;
}

.bigger-text-size {
    font-size: 20px;

    @include respond-to('tablet') {
        font-size: 16px;
    }
}

.big-text-size {
    font-size: 18px;

    @include respond-to('tablet') {
        font-size: 16px;
    }
}

.default-font-size {
    font-size: 16px;

    @include respond-to('tablet') {
        font-size: 14px;
    }
}



.small-text-size {
    font-size: 14px;

    @include respond-to('tablet') {
        font-size: 12px;
    }
}

.smallest-text-size {
    font-size: 12px;

    @include respond-to('tablet') {
        font-size: 10px;
    }
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-semibold {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: 700;
}

input::placeholder {
    font-size: 16px;

    @include respond-to('tablet') {
        font-size: 14px;
    }
}

// feedback styles
.success--text {
    color: #19ae57;
    background: #e5fff0;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
}

.pending--text {
    color: #f7ad3c;
    background: #fff8e5;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
}

.failed--text {
    color: #e02020;
    background: #feeaea;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
}

.muted--text {
    color: #696677;
    background-color: #eeeeee;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
}

