@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variable';

.Testimonials {
    display: flex;
    background: $skyblue-color;
    padding: 100px;

    &__content {
        flex: 1;
        border: 1px solid red;

        &__title {
            text-transform: uppercase;
        }

        &__subtitle {
            // border: 1px solid red;
            margin: 24px 0;
        }

        &__text {
            color: #998F8F;

        }

    }

    &__carousel {
        flex: 2;
    }
}